
body{
	padding: 0;
	margin: 0;
	font-family: sans-serif;
}

.clearfix
{
	display: table;
}

.clearfix:after{
	content:" ";
	clear:both;
}
.container{
    width: 90%;
    margin: 0 auto;
   	box-sizing: border-box;
	 }

header {
    display: inline;
    margin: 5%;
}

.logo{
    float: left;
    width: 50%;
}
.navbar li {
    list-style: none;
    display: inline-block;
    float: right;
    margin: auto 2%;
    }

.navbar li a{
    color: #c3b7b7;
    text-decoration: none;
 }

/* fin de header */

.hero{
    background: #5f5454;
    color: white;
    display: inline-block;
    }

.titulo{
    float: left;
    width: 55%;
    padding: 5%;
    text-align: left;
}

.titulo h1{
    font-size: 30px;
}

.formulario {
    width: 20%;
    background: #a59999;
    text-align: center;
    margin: 5%;
	border-radius: 15px;
    float: left;
    box-sizing: border-box;
	     }

.formulario buttom{
    background: #5691d6;
    text-align: center;
    margin: 5%;
    }
.formulario input, .formulario buttom{
    width: 80%;
	box-sizing: border-box;
    margin: 5%;
    padding: 10px;
    }

/* finpadding: hero*/

footer{
    color: #c4b2b2;
    display: inline-block;
    width: 100%;
}

footer a{
    text-decoration: none;
    }

/* fin footer */

@media (max-width: 900px){
    body{
        width: 700px;
    }
}



@media (max-width:700px){
	.container{
		width: 90%;
	}
	.titulo, .formulario{
		width: 90%;
	}
}
























